/* SocialButton.css */
/* ul.social-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.social-buttons li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.social-buttons li a {
  width: 5.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.social-buttons li a .fa-brands {
  font-size: 6em;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.social-buttons li a::before {
  
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

ul.social-buttons li a::before {
  content: "\f16d";
  color: var(--iconBg);
  border-bottom: 4px solid var(--iconBg);
}

ul.social-buttons li:hover a::before {
  height: 100%;
}

.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
} */
.social-buttons {
  width: 15rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.icon-background {
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s;
}

.icon-background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: 2px solid transparent;
  transition: transform 0.3s, border 0.3s;
  transform: scaleY(0);
  transform-origin: bottom;
  top: 0;
  left: 0;
}

.icon-background:hover::before {
  transform: scaleY(1);
  border-color: var(--borderIcon); /* Color del borde al hacer hover */
  transform-origin: top;
  top: -2px;
}

