/* SocialButton.css */
ul.social-buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.social-buttons li {
  position: relative;
  list-style: none;
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.social-buttons li a {
  width: 5.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.social-buttons li a .fa-brands {
  font-size: 6em;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.social-buttons li a::before {
  
  position: absolute;
  top: 0;
  left: 0;
  font-size: 6em;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

ul.social-buttons li a::before {
  content: "\f16d";
  color: var(--iconBg);
  border-bottom: 4px solid var(--iconBg);
}

ul.social-buttons li:hover a::before {
  height: 100%;
}

.icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
